#adc_cursos{
    width: 30vw;
    font-size: 2.5vh;
}
#adc_xp{
    width: 30vw;
    font-size: 2.5vh;
}
#excluic:hover{
    width: 100%;
}
#excluixp:hover{
    width: 100%;
}
#reset{
    font-size: 3vh;
    margin-left: 1vh;
}
#botao{
    font-size: 3vh;
    margin-right: 1vh;
}
#tema{
    display: none;
}

#reset{
    background: linear-gradient(135deg, rgb(192, 47, 47),rgb(183, 102, 102), rgb(187, 42, 42),rgb(177, 75, 75), rgb(176, 25, 25));
}

@media (max-width: 768px){

    #adc_cursos{
        width: 80vw;
    }
    #adc_xp{
        width: 80vw;
    }
    #excluic:hover{
        width: 100%;
    }
    #excluixp:hover{
        width: 100%;
    }
    #adc_cursos{
        font-size: 1.5vh;
    }
    #adc_xp{
        font-size: 1.3vh;
    }
    #reset{
        font-size: 1.5vh;
        width: 30vw;
    }
    #botao{
        font-size: 1.5vh;
        width: 30vw;
    }
    }